#navigasi{
    transition: top 0.5s;
}
html{
    scroll-behavior: smooth;
}
#judul {
    margin-top: 45vh;
    margin-bottom: 45vh;
    text-align: center;
    color: white;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.footer {
  left: 0;
  bottom: 0;
  width: 100vh;
  background-color: black;
  text-align: center;
  margin: 0;
}
body {
    background: #ff5f6d;
    background: -webkit-linear-gradient(to right, #ff5f6d, #ffc371);
    background: linear-gradient(to right, #ff5f6d, #ffc371);
    overflow-x: hidden;
    font-family: 'Rasa', serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
#tombolbawah{
    text-align: center;
    margin-left: -16.5vh;
}
#kebawah{
    color: rgba(0, 0, 0, 0.5);
    animation: MoveUpDown 1.5s linear infinite;
    position: absolute;
    height: 20vh;
    width: 30vh;
    bottom: 0;
}
      
@keyframes MoveUpDown {
    0%, 100% {
    bottom: 0;
    }
    50% {
    bottom: 30px;
    }
}
}
.nav-item{
    margin-left: 50px;
}
#utama{
    margin: 0 10vh 10vh;
    border-radius: 20px;
    color: white;
    background-color: #fdcb6e;
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
     -ms-animation: fadein 2s; /* Internet Explorer */
      -o-animation: fadein 2s; /* Opera < 12.1 */
         animation: fadein 2s;
    height: 90vh; 
    width: 100vh; 
    flex-direction: row;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#fakultas{
    margin: 0 10vh 10vh;
    border-radius: 20px;
    padding: 30px;
    background-color:  #fdcb6e; 
    text-align: center; 
    height: 95vh;
    border: 2px solid white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#page1{
    margin: 0 10vh 10vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  #fdcb6e;
    padding: 40px;
    height: 90vh;
}
#page2{
    margin: 0 10vh 10vh;
    border-radius: 20px;
    background-color: #fdcb6e;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center; 
    height: 90vh;
}
#page3{
    margin: 0 10vh 10vh;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:  #a29bfe; 
    text-align: center; 
    height: 90vh;
}
#page5{
    background-color: #fdcb6e; 
    text-align: center; 
    height: 100vh;
}
#footer{
    background-color:  #e84545; 
    text-align: center; 
    height: 30vh;
}
#tulisan{
    margin: 70px 30px 0px 50px;
    font-size: 3.8vh;
    color: rgb(75, 75, 75);
}
#tombolList{
    position: relative;
    bottom: 0px;
}
#lempar{
    text-align: center;
}
#tengah{
    text-align: center;
    margin-top: 280px;
}
#tulisandiv{
    float: left;
    margin-right: 500px;
}
#gambarunsur{
    text-align: center;
    margin-top: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}
p{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    font-size: 25px;
    color: rgb(75, 75, 75);

}

.button {
    font-family: 'Karla', sans-serif;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.card{
    padding-top: 25px;
    opacity: 0.6;
}
.card:hover{
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.row{
    margin: 200px 0px;
    clear: both;
}
i{
    margin: 10px;
    color: rgb(73, 73, 73);
}
.bi-caret{
    margin: 100px;
}
.center{
    text-align: center;
}